.social {

  a {
    display: inline-block;
    height: 50px;
    width: 50px;

    // svg {
    //   height: 50px;
    //   width: 50px;
    // }
  }
}

.facebook-icon {
  height: 50px;
  width: 50px;
  $color: #3C5A98;
  fill: $color;
  &:hover {
    fill: darken($color, 10%);
  }
}
.twitter-icon {
  height: 50px;
  width: 50px;
  $color: #28AAE2;
  fill: $color;
  &:hover {
    fill: darken($color, 10%);
  }
}
.linkedin-icon {
  height: 50px;
  width: 50px;
  $color: #047CB7;
  fill: $color;
  &:hover {
    fill: darken($color, 10%);
  }
}
.instagram-icon {
  height: 50px;
  width: 50px;
  $color: #43739B;
  fill: $color;
  &:hover {
    fill: darken($color, 10%);
  }
}
.pinterest-icon {
  height: 50px;
  width: 50px;
  $color: #CB2128;
  fill: $color;
  &:hover {
    fill: darken($color, 10%);
  }
}

.drupalcamp {
  text-align: center;
}

.cta-drupalcamp {
  $color: #0491c6;
  color: #FFF;
  background-color: $color;
  border: 1px solid darken($color, 10%);
  margin: 15px;
  padding: 15px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  svg {
    margin-right: 15px;
    max-width: 1em;
    width: auto;
    height: 1em;
    vertical-align: middle;
  }
}

.cta-facebook {
  $color: #f26825;
  color: #FFF;
  background-color: $color;
  border: 1px solid darken($color, 10%);
  margin: 15px;
  padding: 15px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  svg {
    margin-right: 15px;
    max-width: 1em;
    width: auto;
    height: 1em;
    vertical-align: middle;
  }
}
